* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    width: 100%;
    min-width: 320px;
    height: 150px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    background: #34495E;
    margin: 0;
}

.header-container {
    display: flex;
    width: 100%;
    min-width: 288px;
}

.header-container-logo {
    display: flex;
    width: 90%;
    min-width: 200px;
    justify-items: flex-start;
    padding: 0 40px;
}

.header-container-logo-img {
    display: flex;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    place-self: center;
    text-align: center;
}

.header-container-logo-title {
    display: flex;
    place-self: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    padding: 0 15px;
}

.header-container-home {
    display: flex;
    width: 10%;
    min-width: 90px;
    font-size: 1.8rem;
    justify-items: flex-end;
}

.header-container-home img {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    place-self: center;
}

.main-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    background: yellow;
    margin: 0;
    padding: 50px 20px;
    padding-bottom: 100px;
}


main h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    padding-bottom: 40px;
}

.main-container-figures {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 288px;
    place-content: center;
}

/* Título estilizado a de las figuras*/
a {
    text-decoration: none;
}


.img-title {
    margin-top: 8px;
    font-size: 18px;       
    font-family: Arial, sans-serif; 
    color: #333;           
    font-weight: 600;      
    text-align: center;   
}


/*FigurasPlanas*/

.section-planas {
    background: rgb(207, 33, 14);   /* verde agua muy suave */
    padding: 50px 20px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.section-planas h2 {
    color: #ffffff;        /* verde elegante */
}
.container-square {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(232, 89, 22);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-square img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    place-self: center;
}

.container-triangle {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(232, 89, 22);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-triangle img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    place-self: center;
}

.container-circle {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(232, 89, 22);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-circle img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    place-self: center;
}

.container-rombo {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(232, 89, 22);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-rombo img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    place-self: center;
}

.container-hexagono {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(232, 89, 22);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-hexagono img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    place-self: center;
}


/*FigurasSolidas*/

.section-solidas {
    background: #07cd1a;   /* azul/gris oscuro */
    padding: 50px 20px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.section-solidas h2 {
    color: #ffffff;        /* blanco suave */
}

.container-piramide {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(1, 189, 1);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-piramide img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.container-cilindro {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(1, 189, 1);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-cilindro img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.container-cubo {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(1, 189, 1);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-cubo img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.container-cono {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(1, 189, 1);
    border-radius: 10px;
    place-content: center;
    margin: 5px;

}

.container-cono img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}

.container-esfera {
    display: flex;
    width: 280px;
    height: 280px;
    border: 5px solid rgb(1, 189, 1);
    border-radius: 10px;
    place-content: center;
    margin: 5px;
}

.container-esfera img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}



a {
    place-self: center;
}

footer {
    width: 100%;
    min-width: 320px;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    background: #34495E;
    padding: 50px 20px;
}

.footer-container {
    display: flex;
    width: 90%;
    margin: auto;
    place-content: center;
    border-bottom: 1px solid #ffffff;
}

.footer-container-logo {
    display: flex;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    text-align: center;
}

.footer-container-title {
    display: flex;
    place-self: center;
    text-align: center;
    padding: 0 15px;
}

.footer-container-development {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

footer a {
    text-decoration: none;
    color: #3498DB;
}

footer a:hover{
    color:#75c0e0 !important;
}
